<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
<h1>Welcome to our Ride Sharing app!</h1>
<h2>Sign up using your phone number:</h2>
<form method="post">
    <label>
        <input type="text" name="name" placeholder="Your name" required>
    </label>
    <label>
        <input type="tel" name="phoneNumber" placeholder="Phone number" required>
    </label>
    <button type="submit">Register</button>
</form>
</body>
</html>